.container {
  background-image: url(/BackgroundImage.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  background: rgba(34, 33, 33, 0.399);
  box-shadow: 0 8px 32px 0 rgba(193, 208, 227, 0.655);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(117, 136, 154, 0.18);
  height: 600px;
  width: 1100px;
  padding: 50px 100px;
  color: #dde1e5;
}

.innerContainer h1 {
    color: #ff8400;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.searchInput {
    padding: 10px 15px;
    max-width: 300px;
    border-radius: 20px;
    border: none;
    background-color: #1a19198f;
    text-align: center;
    color:#ffffff;
    font-size: large;
}

.searchIcon {
    transition: all 0.3s;
    color: #ffffff;
}

.searchIcon:hover {
    color: #ff8400;
    transition: all 0.2s;
    cursor: pointer;
}

.CityContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.CityContainer h1 {
    font-size: 64px;
    color: #dde1e5;
}

.cityInnerDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.weather-icon {
    height: 80px;
    width: 80px;
}

.weatherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.info {
    min-width: 300px;
}

.info h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dde1e5;
    font-size: 20px;
    font-weight: 400;
}

.localtime {
    background: linear-gradient(to right, #00000080, #00000096), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyGndSuGO9M7MKQqc97v-Anpvm5rSLVMu-OQ&usqp=CAU");;
    background-size: cover;
    background-position: center;
    min-width: 450px;
    min-height: 220px;
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 15px 30px;
}

.localtime h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.localtime p {
    text-align: center;
    font-size: 10px;
    color: #ff8400;
}

@media screen and (max-width: 320px) and (max-height: 480px) {

    .searchBar {
        gap: 5px;
    }

    .searchInput {
        padding: 4px 10px;
        max-width: 150px;
        font-size: 14px;
    }

    .searchIcon {
        color: #ff8400;
    }


    .innerContainer {
        width: 320px;
    }

    .CityContainer {
        flex-direction: column;
        align-items: center;
    }

    .CityContainer h1 {
        font-size: 32px;
    }

    .cityInnerDiv {
        font-size: 9px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .cityTemp {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        padding: 10px 0;
    }

    .weather-icon {
        height: 40px;
        width: 40px;
    }
    

    .weatherInfo {
        flex-direction: column;
    }
}